<ion-view title="About">
    <ion-content padding="'true'" class="has-header">
      <div class="item item-image">
        <img src="../img/about.jpg">
      </div>
      <div class="item item-text-wrap">
          Terry Richardson cardigan whatever gentrify Tumblr, gluten-free jean shorts cray Schlitz selvage DIY sustainable Helvetica sriracha.
          Banh mi ethical, put a bird on it VHS irony bicycle rights slow-carb literally retro skateboard ugh 90's Helvetica hashtag. Next
          level beard keffiyeh cornhole pork belly, slow-carb Schlitz.
        <p>
          Revolutionary notebook with eco-friendly paper,
          advanced surface technology and digital sharing integration.
        </p>
      </div>
      <h3>
        Flexible pricing plans.
      </h3>
      <p>
        to fulfill your needs and solve your problems
      </p>
    </ion-content>
</ion-view>
