<ion-view title="Delivery">
    <ion-content padding="'true'" class="has-header">

      <div class="list">

        <div class="item item-divider">
          Credit card
        </div>

        <a class="item item-icon-left item-develiry-left" href="#">
          CREDIT CARD
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          EXPIRATION
          <span class="item-note">
            SELECTED >
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          CCV
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-develiry-img">
          <img src="../img/t-shirt-b.png">
        </a>

        <div class="item item-divider">
          Billing address
        </div>

        <a class="item item-icon-left item-develiry-left" href="#">
          FIRST NAME
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          LAST NAME
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          ADDRESS
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          CITY
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          STATE
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          COUNTRY
          <span class="item-note">
            Required
          </span>
        </a>

        <a class="item item-icon-left item-develiry-left" href="#">
          PHONE
          <span class="item-note">
            Required
          </span>
        </a>

      </div>

      <button class="button button-full button-calm">
        SEND
      </button>

    </ion-content>
</ion-view>
