<ion-view title="List">
    <ion-content padding="'true'" class="has-header" does-continue="true" auto-play="true">

      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <img class="total-side-box" src="../img/banner-1.png">
        </ion-slide>
        <ion-slide>
          <img class="total-side-box" src="../img/dress-b.png">
        </ion-slide>
        <ion-slide>
          <img class="total-side-box" src="../img/suits-b.png">
        </ion-slide>
        <ion-slide>
          <img class="total-side-box" src="../img/t-shirt-b.png">
        </ion-slide>
      </ion-slide-box>

      <div class="total-list-box">
        <div class="total-list-item">
          <img src="../img/p1.png">
          <h1>Skull with snake</h1>
          <div class="total-item-title">
            <p class="total-item-title-left">T-shirt</p>
            <p class="total-item-title-right">$45</p>
          </div>
        </div>

        <div class="total-list-item">
          <img src="../img/p2.png">
          <h1>Skull with light</h1>
          <div class="total-item-title">
            <p class="total-item-title-left">Fashionable</p>
            <p class="total-item-title-right">$115</p>
          </div>
        </div>

        <div class="total-list-item">
          <img src="../img/p3.png">
          <h1>Skull with Fork</h1>
          <div class="total-item-title">
            <p class="total-item-title-left">Popular</p>
            <p class="total-item-title-right">$68</p>
          </div>
        </div>

        <div class="total-list-item">
          <img src="../img/p4.png">
          <h1>Skull with Fighger</h1>
          <div class="total-item-title">
            <p class="total-item-title-left">Young</p>
            <p class="total-item-title-right">$88</p>
          </div>
        </div>

      </div>

    </ion-content>
</ion-view>
