<ion-view hide-nav-bar="true">
    <ion-content padding="'true'" class="has-header">
        <div class="totally-logo-Container">
          <img src="img/00_icon.png">
          <p>A totally online shop</p>
        </div>
        <form class="list">
            <div class="spacer totally-spacer"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer totally-spacer-bottom"></div>
            <a menu-close="" href="#/page8" class="button button-calm button-block  icon ion-log-in button-full"> Log in</a>
            <a menu-close="" href="#/page2" class="button button-dark button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
