<ion-view hide-nav-bar="true">
    <ion-content padding="'true'" class="has-header">
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <img src="img/VSaTPqmrRjOnvEbr9GH3_logo.png" width="100%" height="auto" style="width: 100%; height: auto;">
        <form class="list">
            <div class="spacer" style="width: 300px; height: 53px;"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <a menu-close="" href="#/page8" class="button button-calm button-block  icon ion-log-in button-full">Log in</a>
            <a menu-close="" href="#/page2" class="button button-dark button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
