<ion-view title="Mall Labby">
    <ion-content padding="'true'" class="has-header">

      <!--顶边BANNER-->
      <a class="total-button row total-banner-row" menu-close="" href="#/pageList/{{'suites'}}">
      <div class="row total-banner-row">
        <div class="col total-banner-up">
          <p class="total-banner-p">SUITES</p>
          <p class="total-banner-p total-banner-up-ps">40 ITEMS</p>
        </div>
      </div>
        </a>

      <div class="row total-banner-row">
        <div class="col total-banner-cel">
          <p><a class="total-button total-button-black" menu-close="" href="#/pageList/{{'men'}}">FOR MEN</a></p>
          <p><a class="total-button total-button-black" menu-close="" href="#/pageList/{{'women'}}">FOR WOMEN</a></p>
          <p><a class="total-button total-button-black" menu-close="" href="#/pageList/{{'kids'}}">FOR KIDS</a></p>
        </div>
        <div class="col total-banner-cel-right"></div>
      </div>

      <!--中间BANNER-->
      <a class="total-button row total-banner-row" menu-close="" href="#/pageList/{{'shirts'}}">
        <div class="col">
          <div class="col total-banner-center">
            <p class="total-banner-p">DRESS</p>
            <p class="total-banner-p total-banner-up-ps">31 ITEMS</p>
          </div>
        </div>
      </a>

      <div class="row total-banner-row">
        <div class="col total-banner-cel-left"></div>
        <div class="col total-banner-cells-p">
          <p><a class="total-button" menu-close="" href="#/pageDelivery">DELIVERY</a></p>
          <p><a class="total-button" menu-close="" href="#/pageAbout">ABOUT US</a></p>
          <p><a class="total-button" menu-close="" href="#/pageContact">CONTACT US</a></p>
        </div>
      </div>

    </ion-content>
</ion-view>
