<ion-view title="Shop">
    <ion-content padding="'false'" class="has-header">
        <div class="list card">
            <div class="item item-divider">MostPopular</div>
            <div class="item item-body">
                <img src="img/SB716qFUTfyHnNFzKup7_suites-s.png" width="100%" height="auto" style="width: 100%; height: auto;">
            </div>
        </div>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>