<ion-view title="Shop">
    <ion-content padding="'false'" class="has-header">
        <a menu-close="" href="#/page7" class="button button-stable button-block ">Show order list</a>
        <div class="list card">
            <div class="item item-divider">MostPopular</div>
            <div class="item item-body">
                <img src="img/SB716qFUTfyHnNFzKup7_suites-s.png" width="100%" height="auto" style="width: 100%; height: auto;">
                <div class="list card">
                    <div class="item item-divider">Card</div>
                    <div class="item item-body"></div>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>