<ion-view view-title="Profile">

  <ion-nav-buttons side="secondary">
    <a class="button button-icon ion-ios-checkmark-outline" ng-click="updateProfile()"></a>
  </ion-nav-buttons>

  <ion-content>

    <div class="total-profile-header">
    </div>

    <ion-list>
      <div class="item item-divider">
        BASIC Information
      </div>

      <li class="item item-toggle">
        <i class="icon ion-location calm"></i>
        Geolocalisation service
        <label class="toggle toggle-calm">
          <input type="checkbox" ng-model="profileData.geoEnable">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        <i class="icon ion-chatbubble-working calm"></i>
        Message service
        <label class="toggle toggle-calm">
          <input type="checkbox" ng-model="profileData.messageEnable">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        <i class="icon ion-social-whatsapp-outline calm"></i>
        Call Enable
        <label class="toggle toggle-calm">
          <input type="checkbox" ng-model="profileData.callEnable">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <!--占位符-->
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
      </div>

      <div class="item item-divider">
        SHOP Information
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">First name</span>
        <input type="text" placeholder="John" ng-model="profileData.name">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Last name</span>
        <input type="text" placeholder="Smith.w" ng-model="profileData.lastName">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com" ng-model="profileData.email">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="0123456789" ng-model="profileData.phone">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <input type="text" placeholder="Your address here" ng-model="profileData.address">
      </label>

    </ion-list>

    <!--占位符-->
    <div class="row">
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
    </div>

    <p ng-show="showTip">Your file updateed</p>

    <!--退出处理 -->
    <button class="button button-block button-calm" ng-click="logOut()">
      Log Out
    </button>

  </ion-content>
</ion-view>
