<ion-view title="Cart">

  <!--左边设置菜单 -->
  <ion-nav-buttons side="secondary">
    <a class="button button-icon ion-ios-compose-outline" href="#/tab/edit">EDIT</a>
  </ion-nav-buttons>

    <ion-content>
      <ion-list>

        <!--src:$scope.detailListData.sideShowList[0].src,-->
        <!--pName:$scope.detailListData.pName,-->
        <!--pPrice:$scope.detailListData.pPrice,-->
        <!--size:$scope.detailListData.size,-->
        <!--color:$scope.detailListData.color-->

        <ion-item ng-repeat="item in cartDataList" class="item item-thumbnail-left item-text-wrap" href="#">
          <img src="{{item.src}}">
          <div class="row">
            <div class="col col-75">
              <p class="total-cart-title">{{item.pName}}</p>
              <p class="total-cart-quality">{{item.quality}}</p>
            </div>
            <div class="col">
              <h3 class="total-cart-size total-cart-size-s">S</h3>
              <p class="total-cart-price">{{pPrice | currency:'$'}}</p>
            </div>
          </div>
        </ion-item>

      </ion-list>

      <div class="row" ng-show="cartDataList.length != 0">
        <div class="col col-75">
          <p>TOTAL</p>
        </div>
        <div class="col">
          <p>$380</p>
        </div>
      </div>

      <div class="row" ng-show="cartDataList.length == 0">
        <div class="col"><h1>Your cart is empty.</h1></div>
      </div>

    </ion-content>
</ion-view>
