<ion-view title="Mall Labby">

  <ion-content padding="'true'" class="has-header">

    <!--搜索栏 -->
    <div class="item item-input-inset item-search">
      <label class="item-input-wrapper">
        <input type="text" class="inputItem" ng-model="serachStr" placeholder="Pls enter message here.">
      </label>
      <button class="button button-small button-calm ion-ios-search" ng-click="doSearch()">
      </button>
    </div>

    <!--顶边BANNER-->
    <a class="total-button row total-banner-row" menu-close="" href="#tab/pageList/{{topItemData.id}}">
      <div class="row total-banner-row">
        <div class="col total-banner-up">
          <p class="total-banner-p">{{topItemData.name}}</p>
          <p class="total-banner-p total-banner-up-ps">{{topItemData.quality | itemUnion}}</p>
        </div>
      </div>
    </a>

    <div class="row total-banner-row">
      <div class="col total-banner-cel">
        <p ng-repeat="item in typeListData">
          <a class="total-button total-button-black" menu-close="" href="#tab/pageList/{{item.id}}">{{item.name | uppercase}}</a>
        </p>
      </div>
      <div class="col total-banner-cel-right"></div>
    </div>

    <!--中间BANNER-->
    <a class="total-button row total-banner-row" menu-close="" href="#tab/pageList/{{bottomItemData.id}}">
      <div class="col">
        <div class="col total-banner-center">
          <p class="total-banner-p">{{bottomItemData.name}}</p>
          <p class="total-banner-p total-banner-up-ps">{{bottomItemData.quality | itemUnion}}</p>
        </div>
      </div>
    </a>

    <div class="row total-banner-row">
      <div class="col total-banner-cel-left"></div>
      <div class="col total-banner-cells-p">
        <p><a class="total-button" menu-close="" href="#tab/pageAbout">ABOUT US</a></p>
        <p><a class="total-button" menu-close="" href="#tab/pageContact">CONTACT US</a></p>
      </div>
    </div>

  </ion-content>

</ion-view>
