<ion-view title="Mall Labby">

  <!--左边设置菜单 -->
  <ion-nav-buttons side="secondary">
    <a class="button button-icon ion-log-out" href="#/login"></a>
  </ion-nav-buttons>

  <!--下拉菜单 -->
  <!--<ion-nav-buttons side="primary">-->
  <!--<button class="button button-icon ion-navicon"></button>-->
  <!--</ion-nav-buttons>-->

  <ion-content padding="'true'" class="has-header">

    <!--搜索栏 -->
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="query" placeholder="Search">
      </label>
    </div>

    <!--顶边BANNER-->
    <a class="total-button row total-banner-row" menu-close="" href="#tab/pageList/{{'suites'}}">
      <div class="row total-banner-row">
        <div class="col total-banner-up">
          <p class="total-banner-p">SUITES</p>
          <p class="total-banner-p total-banner-up-ps">40 ITEMS</p>
        </div>
      </div>
    </a>

    <div class="row total-banner-row">
      <div class="col total-banner-cel">
        <p><a class="total-button total-button-black" menu-close="" href="#tab/pageList/{{'men'}}">FOR MEN</a></p>
        <p><a class="total-button total-button-black" menu-close="" href="#tab/pageList/{{'women'}}">FOR WOMEN</a></p>
        <p><a class="total-button total-button-black" menu-close="" href="#tab/pageList/{{'kids'}}">FOR KIDS</a></p>
      </div>
      <div class="col total-banner-cel-right"></div>
    </div>

    <!--中间BANNER-->
    <a class="total-button row total-banner-row" menu-close="" href="#tab/pageList/{{'shirts'}}">
      <div class="col">
        <div class="col total-banner-center">
          <p class="total-banner-p">DRESS</p>
          <p class="total-banner-p total-banner-up-ps">31 ITEMS</p>
        </div>
      </div>
    </a>

    <div class="row total-banner-row">
      <div class="col total-banner-cel-left"></div>
      <div class="col total-banner-cells-p">
        <p><a class="total-button" menu-close="" href="#tab/pageDelivery">DELIVERY</a></p>
        <p><a class="total-button" menu-close="" href="#tab/pageAbout">ABOUT US</a></p>
        <p><a class="total-button" menu-close="" href="#tab/pageContact">CONTACT US</a></p>
      </div>
    </div>

  </ion-content>

</ion-view>
