<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-left tabs-background-light">
        <ion-tab title="Shop" icon="ion-bag" href="#/page3/page4">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cart" icon="ion-ios-cart" href="#/page3/page5">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Profile" icon="ion-person" href="#/page3/page6">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
