<ion-view hide-nav-bar="true">
    <ion-content padding="'true'" class="has-header">
        <div class="totally-logo-Container">
          <img src="img/00_icon.png">
          <p>A totally online shop</p>
        </div>
        <form class="list" method="post" ng-submit="doLogin()">
            <div class="spacer totally-spacer"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">USER NAME</span>
                    <input type="text" placeholder="" name="name" ng-model="loginData.userName" ng-focus="doFocus()">
                </label>
                <label class="item item-input">
                    <span class="input-label">PASSWORD</span>
                    <input type="password" placeholder="" name="password" ng-model="loginData.password" ng-focus="doFocus()">
                </label>
            </ion-list>
            <p ng-show="loginData.inviated" class="totally-tip-p">User name or password incorrect.</p>
            <div class="spacer totally-spacer-bottom"></div>
            <input type="submit" value="Log in" class="button button-calm button-block"></a>
            <a menu-close="" href="#/page2" class="button button-dark button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
