<ion-view title="Contact">
    <ion-content padding="'true'" class="has-header">
      <div class="item item-image">
        <img src="../../img/contact.png">
      </div>

      <div class="item contact-item item-text-wrap item-icon-right">

        <div class="iem-septar" ng-repeat="item in contactData">
          <div class="item-conten-dir">
            <h1 class="item-title-left">{{item.trafficName}}</h1>
            <h1 class="item-title-right">{{item.trafficeTime}}</h1>
          </div>
          <p class="item-title-content-p">{{item.trafficDesc}}</p>
        </div>

      </div>

    </ion-content>
</ion-view>
