<ion-view title="Main">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <div class="button-bar">
            <a menu-close="" href="#/page4" class="button button-stable button-block ">Shop</a>
            <a menu-close="" href="#/page5" class="button button-stable button-block ">Cart</a>
            <a menu-close="" href="#/page6" class="button button-stable button-block ">Profile</a>
        </div>
    </ion-content>
</ion-view>