<ion-view title="Profile">
    <ion-content padding="'true'" style="background: url(img/L2KxvZSh6Aoe5aRI1KAF_p-b2.png) no-repeat center;" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <h1>Heading</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
    </ion-content>
</ion-view>