<ion-view title="List">
    <ion-content padding="'true'" class="has-header" does-continue="true" auto-play="true">

      <ion-slide-box show-pager="true" auto-play="true">
        <ion-slide ng-repeat="item in detailListData.sideShowList as vm">
          <img class="total-side-box" src="{{item.src}}">
        </ion-slide>
      </ion-slide-box>

      <h3>{{detailListData.pName}}</h3>
      <p>{{detailListData.pPrice | currency:'$'}}</p>

      <div class="row list-detail-item">
        <div class="col">
          <label class="item item-input item-select list-detail-col-left">
            <div class="input-label">
              Size
            </div>
            <select ng-model="detailListData.size">
              <option ng-repeat="item in sizeList">{{item.label}}</option>
            </select>
          </label>
        </div>
        <div class="col">
          <label class="item item-input item-select list-detail-col-right">
            <div class="input-label">
              Color
            </div>
            <select ng-model="detailListData.color">
              <option ng-repeat="item in colorList">{{item.label}}</option>
            </select>
          </label>
        </div>
      </div>

      <div class="item item-body item-text-wrap list-detail-text">
        {{detailListData.desc}}
      </div>

      <button class="button button-full button-calm" ng-click="addToCart()">
        <i class="icon ion-ios-cart"></i> ADD TO CART
      </button>

      <div class="button-bar bar-light list-bar-content">
        <a class="button" ng-click="refreshNoteData(item.data)" ng-repeat="item in noteCommitList">
          <i class="icon ion-ios-people-outline"> {{item.label}}</i>
        </a>
      </div>

      <div class="list list-bar-content">

        <a ng-repeat="item in customerNoteData" class="item item-avatar" href="#">
          <img src="{{item.src}}">
          <h2>{{item.name}}</h2>
          <p>{{item.note}}</p>
          <div ng-switch on="item.agree">
            <i class="icon ion-thumbsup list-agree-right" ng-switch-when="true"> Agree</i>
            <i class="icon ion-thumbsdown dark" ng-switch-when="false"> Disagree</i>
          </div>
        </a>

      </div>

    </ion-content>
</ion-view>
