<ion-view title="List">
    <ion-content padding="'true'" class="has-header" does-continue="true" auto-play="true">

      <ion-slide-box show-pager="true" auto-play="true">
        <ion-slide ng-repeat="item in listData">
            <a href="#tab/pageDetail/{{item.id}}/T-shirt/98"><img class="total-side-box" src="{{item.src}}"></a>
            <!--<h5>{{item.title}}</h5>-->
        </ion-slide>
      </ion-slide-box>

      <div class="total-list-box">

        <a ng-repeat="item in listProductData" href="#tab/pageDetail/{{item.id}}/{{item.pName}}/{{item.pPrice}}">
          <div class="total-list-item">
            <img src="{{item.src}}">
            <h1>{{item.title}}</h1>
            <div class="total-item-title">
              <p class="total-item-title-left">{{item.pName}}</p>
              <p class="total-item-title-right">{{item.pPrice | currency:'$'}}</p>
            </div>
          </div>
        </a>

      </div>

    </ion-content>
</ion-view>
