<ion-view title="List">
    <ion-content padding="'true'" class="has-header" does-continue="true" auto-play="true">

      <ion-slide-box show-pager="true" auto-play="true">
        <ion-slide>
          <img class="total-side-box" src="../../img/p-b1.png">
        </ion-slide>
        <ion-slide>
          <img class="total-side-box" src="../../img/p-b2.png">
        </ion-slide>
        <ion-slide>
          <img class="total-side-box" src="../../img/ps-1.png">
        </ion-slide>
        <ion-slide>
          <img class="total-side-box" src="../../img/ps-2.png">
        </ion-slide>
        <ion-slide>
          <img class="total-side-box" src="../../img/ps-3.png">
        </ion-slide>
      </ion-slide-box>

      <h3>Brooklyn T-shirt</h3>
      <p>$45</p>

      <div class="row list-detail-item">
        <div class="col">
          <label class="item item-input item-select list-detail-col-left">
            <div class="input-label">
              Size
            </div>
            <select>
              <option>Small</option>
              <option selected>Middle</option>
              <option>Large</option>
            </select>
          </label>
        </div>
        <div class="col">
          <label class="item item-input item-select list-detail-col-right">
            <div class="input-label">
              Color
            </div>
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
          </label>
        </div>
      </div>

      <div class="item item-body item-text-wrap list-detail-text">
        To these in the morning I sent the captain, who was to enter into a parley with them; in a word, to try them, and tell me whether he thought they might be trusted or not to go on board and surprise the ship.
      </div>

      <button class="button button-full button-calm">
        <i class="icon ion-ios-cart"></i> ADD TO CART
      </button>

      <div class="button-bar bar-light list-bar-content">
        <a class="button"><i class="icon ion-ios-people-outline"> Good</i></a>
        <a class="button"><i class="icon ion-ios-personadd-outline"> Middle</i></a>
        <a class="button"><i class="icon ion-ios-person-outline"> Bad</i></a>
      </div>

      <div class="list list-bar-content">

        <a class="item item-avatar" href="#">
          <img src="../../img/feed_1.jpg">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a popular.</p>
          <div>
            <i class="icon ion-thumbsup dark">Agree</i>
            <i class="icon ion-thumbsdown list-agree-right dark">Disagree</i>
          </div>
        </a>

        <a class="item item-avatar" href="#">
          <img src="../../img/feed_2.jpg">
          <h2>Egon</h2>
          <p>We're gonna go call cs num.</p>
          <div>
            <i class="icon ion-thumbsup dark">Agree</i>
            <i class="icon ion-thumbsdown list-agree-right dark">Disagree</i>
          </div>
        </a>

        <a class="item item-avatar" href="#">
          <img src="../../img/feed_3.jpg">
          <h2>Ray</h2>
          <p>Ugly little on clothes, isn't he?</p>
          <div>
            <i class="icon ion-thumbsup dark">Agree</i>
            <i class="icon ion-thumbsdown list-agree-right dark">Disagree</i>
          </div>
        </a>

        <a class="item item-avatar" href="#">
          <img src="../../img/feed_4.jpg">
          <h2>Winston</h2>
          <p>That's a big Twinkie.</p>
          <div>
            <i class="icon ion-thumbsup dark">Agree</i>
            <i class="icon ion-thumbsdown list-agree-right dark">Disagree</i>
          </div>
        </a>

        <a class="item item-avatar" href="#">
          <img src="../../img/feed_5.jpg">
          <h2>Tully</h2>
          <p>Okay, is quality best?</p>
          <div>
            <i class="icon ion-thumbsup dark">Agree</i>
            <i class="icon ion-thumbsdown list-agree-right dark">Disagree</i>
          </div>
        </a>

        <a class="item item-avatar" href="#">
          <img src="../../img/feed_6.jpg">
          <h2>Dana</h2>
          <p>Good not so bad!</p>
          <div>
            <i class="icon ion-thumbsup dark">Agree</i>
            <i class="icon ion-thumbsdown list-agree-right dark">Disagree</i>
          </div>
        </a>

      </div>

    </ion-content>
</ion-view>
