<ion-view title="Edit Cart">
  <ion-content padding="'true'" class="has-header" does-continue="true" auto-play="true">

    <img class="total-side-box" src="{{editData.src}}">

    <h3>{{editData.pName}}</h3>
    <p>{{editData.pPrice | currency:'$'}}</p>

    <div class="row list-detail-item">
      <div class="col">
        <label class="item item-input item-select list-detail-col-left">
          <div class="input-label">
            Size
          </div>
          <select ng-model="editData.size">
            <option ng-repeat="item in sizeList">{{item.label}}</option>
          </select>
        </label>
      </div>
      <div class="col">
        <label class="item item-input item-select list-detail-col-right">
          <div class="input-label">
            Color
          </div>
          <select ng-model="editData.color">
            <option ng-repeat="item in colorList">{{item.label}}</option>
          </select>
        </label>
      </div>
    </div>

    <button class="button button-full button-calm" ng-click="saveToCart()">
      <i class="icon ion-ios-cart"></i> SAVE EDIT
    </button>

  </ion-content>
</ion-view>
