.angular-google-map-container {
  width: 100%;
  height: 504px;
}

.totally-logo-Container{
  width:40%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.totally-spacer{
  width: 300px;
  height: 40px;
}

.totally-spacer-bottom{
  width: 300px;
  height: 15px;
}

.total-banner-up{
  width: 100%;
  height: 180px;
  background: url("../img/suites-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-center{
  width: 100%;
  height: 180px;
  background: url("../img/t-shirt-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cel-right{
  width: 100%;
  height: 180px;
  background: url("../img/winter-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cel-left{
  width: 100%;
  height: 180px;
  background: url("../img/dress-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cells-p{
  background-color: #dedede;
  width: 100%;
  height: 180px;
  color: #000;
  padding: 30px;
}

.total-banner-title-p{
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 20px 50px 20px;
}

.total-banner-p {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.total-banner-up-ps {
  margin-top: 90px;
}

.total-banner-cel{
  width: 100%;
  height: 180px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  border-right: solid 10px #ffffff;
}

.total-banner-row{
  margin-bottom: 10px;
}

/*公用HREF链接*/
.total-button {
  color: #000;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.total-button:hover {
  color: #000;
  text-decoration: none;
}
.total-button.active,
.total-button.activated {}
.total-button:after {}
.total-button-black {
  color: #fff;
}
.total-button-black:hover {
  color: #fff;
}


/*CART page*/
.total-cart-title{
  font-size: 20px;
  font-weight: bold;
  color:#000;
}
.total-cart-quality
{
  border:dashed 0px #ffffff;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  background-color: #d3f2e0;
  width: 50px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  color: #000;
  margin-top: 21px;
}
.total-cart-size{
  border:dashed 0px #ffffff;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px;
  -webkit-border-bottom-left-radius:15px;
  -webkit-border-bottom-right-radius:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  background-color: #d3f2e0;
  width: 50px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
}
.total-cart-size-s{
  background-color:#58c7d7;
}
.total-cart-size-m{
  background-color:#af4e28;
}
.total-cart-size-b{
  background-color:#8d8d8d;
}

.total-cart-price{
  color: #000;
  font-weight: bold;
  margin-top: 24px;
}
.total-all-price{

}
.total-all-cash{

}
