.angular-google-map-container {
  width: 100%;
  height: 504px;
}

.totally-logo-Container{
  width:40%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.totally-spacer{
  width: 300px;
  height: 40px;
}

.totally-spacer-bottom{
  width: 300px;
  height: 15px;
}

.total-banner-up{
  width: 100%;
  height: 180px;
  background: url("../img/suites-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-center{
  width: 100%;
  height: 180px;
  background: url("../img/t-shirt-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cel-right{
  width: 100%;
  height: 180px;
  background: url("../img/winter-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cel-left{
  width: 100%;
  height: 180px;
  background: url("../img/dress-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cells-p{
  background-color: #dedede;
  width: 100%;
  height: 180px;
  color: #000;
  padding: 30px;
}

.total-banner-p {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.total-banner-up-ps {
  margin-top: 90px;
}

.total-banner-cel{
  width: 100%;
  height: 180px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  border-right: solid 10px #ffffff;
}

.total-banner-row{
  margin-bottom: 10px;
}

/*公用HREF链接*/
.total-button {
  color: #000;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.total-button:hover {
  color: #000;
  text-decoration: none;
}
.total-button.active,
.total-button.activated {  }
.total-button:after {}

.total-button-black {
  color: #fff;
}
.total-button-black:hover {
  color: #fff;
}
