.angular-google-map-container {
  width: 100%;
  height: 504px;
}

.totally-logo-Container{
  width:40%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.totally-spacer{
  width: 300px;
  height: 40px;
}

.totally-spacer-bottom{
  width: 300px;
  height: 15px;
}

.totally-tip-p{
  text-align: center;
  padding: 5px 0 0 0;
  color: #999;
}

.total-banner-up{
  width: 100%;
  height: 180px;
  background: url("../img/suites-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-center{
  width: 100%;
  height: 180px;
  background: url("../img/t-shirt-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cel-right{
  width: 100%;
  height: 180px;
  background: url("../img/winter-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cel-left{
  width: 100%;
  height: 180px;
  background: url("../img/dress-s.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.total-banner-cells-p{
  background-color: #dedede;
  width: 100%;
  height: 180px;
  color: #000;
  padding: 30px;
}

.total-banner-title-p{
  width: 100%;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 20px 50px 20px;
}

.total-banner-p {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.total-banner-up-ps {
  margin-top: 90px;
}

.total-banner-cel{
  width: 100%;
  height: 180px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  border-right: solid 10px #ffffff;
}

.total-banner-row{
  margin-bottom: 10px;
}

/*公用HREF链接*/
.total-button {
  color: #000;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.total-button:hover {
  color: #000;
  text-decoration: none;
}
.total-button.active,
.total-button.activated {}
.total-button:after {}
.total-button-black {
  color: #fff;
}
.total-button-black:hover {
  color: #fff;
}


/*CART page*/
.total-cart-title{
  font-size: 20px;
  font-weight: bold;
  color:#000;
}
.total-cart-quality
{
  border:dashed 0px #ffffff;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  background-color: #d3f2e0;
  width: 50px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  color: #000;
  margin-top: 21px;
}
.total-cart-size{
  border:dashed 0px #ffffff;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  background-color: #d3f2e0;
  width: 40px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
}
.total-cart-size-s{
  background-color:#58c7d7;
}
.total-cart-size-m{
  background-color:#af4e28;
}
.total-cart-size-b{
  background-color:#8d8d8d;
}

.total-cart-price{
  color: #000;
  font-weight: bold;
  margin-top: 24px;
}

.total-profile-header{
  background: url(../img/winter-b.png) no-repeat top;
  width: 100%;
  height: 100px;
}

.total-side-box{
  width: 100%;
}

.total-list-box{
  width: 400px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.total-list-item{
  width: 180px;
  height: 100%;
  border: solid #999 1px;
  display:inline-block;
  float: left;
  margin: 0 10px  10px;
}

.total-list-item img{
  width: 100%;
}

.total-list-item h1{
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 0 13px;
  margin: 0px;
}

.total-item-title{
  width: 100%;
  display: block;
  padding: 8px 0 0 13px;
}

.total-item-title-left{
  display: inline;
  color: #666;
}

.total-item-title-right{
  width: 100%;
  display: inline;
  color: dodgerblue;
  padding-left: 10px;
}

.list-detail-col-right{
  background-color: lightblue;
}

.list-detail-col-left{
  background-color: lightpink;
}

.list-detail-item{
  padding: 0px;
  margin: 0px;
}

.list-detail-text{
  border: none;
}

.list-bar-content{
  margin-top: 20px;
}

.list-agree-right{
  padding-left: 20px;
}

.item-develiry-left{
  padding-left: 23px;
  font-weight: bold;
}

.item-develiry-left span{
  font-weight: normal;
}

.item-develiry-img{
  padding: 0px;
  height: 100px;
}

.contact-item{
  background: url(../img/v-line.png) no-repeat left;
  width: 100%;
  height: 521px;
  border: none;
  padding-top: 0px;
  margin-top: 15px;
}

.iem-septar{
  height: 180px;
}

.item-conten-dir{
  padding: 0 0 0 20px;
}

.item-title-left{
  width: 200px;
  height: 50px;
  display: block;
  float: left;
  color: #000;
}

.item-title-right{
  width: 100px;
  height: 50px;
  display: block;
  float: right;
  color: #999;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 0;
}

.item-title-content-p{
  clear: both;
  color: #333;
  padding: 0 0 0 20px;
}
